@font-face {
    font-family: lemon-milk-bold;
    src: url(../fonts/LemonMilkbold.otf);
}

@font-face {
    font-family: lemon-milk;
    src: url(../fonts/LemonMilk.otf);
}
@font-face {
    font-family: lemon-milk-italic;
    src: url(../fonts/LemonMilkitalic.otf);
}


html, body {
	/* Removes the page's margin/padding and makes it fill the whole browser. */
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
        background: black;
	
	/* Turns the whole page into a flex box, so we can position the text horizontally/vertically. */
	display: flex;
	/* Options for settings below: flex-start (top/left), center, flex-end (bottom/right). */
	align-items: center; /* Aligns vertically centre. */
	justify-content: center; /* Aligns horizontally centre. */
	
	/* Change the default text font, size and colour. */
	font-family: 'lemon-milk';
	color: white;
	font-size: 36px;
}

/* Adds text before/after the estimate to improve the look. */
/* You could also use this idea with things that aren't the estimate. */
#gameEstimate:before {content: 'EST: ';} /* A label to explain what the numbers actually are. */

/* Different colours for each state the timer can be in. */
/* The state is set by JavaScript in timer.js. */
.timer_running {color: white;}
.timer_stopped {color: gray;}
.timer_paused {color: gray;}
.timer_finished {color: green;}
